In [7]:
from selenium import  webdriver
from selenium.webdriver.common.by import By

In [9]:
!pip install webdriver_manager

Collecting webdriver_manager
  Downloading webdriver_manager-4.0.2-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: requests in c:\users\moazn\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from webdriver_manager) (2.31.0)
Collecting python-dotenv (from webdriver_manager)
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Requirement already satisfied: packaging in c:\users\moazn\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from webdriver_manager) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\moazn\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->webdriver_manager) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\moazn\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\moazn\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->webdriver_manager) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\moazn\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->webdriver_manager) (2023.7.22)
Downloading webdriver_manager-4.0.2-py2.py3-none-any.whl (27 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv, webdriver_manager
Successfully installed python-dotenv-1.0.1 webdriver_manager-4.0.2

[notice] A new release of pip is available: 23.3.1 -> 25.0
[notice] To update, run: C:\Users\moazn\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [10]:
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

In [11]:
driver2 =  webdriver.Chrome(service= Service(ChromeDriverManager().install()))

In [66]:
driver2.get("https://jdwel.com/2023-2024-egyptian-premier-league/")

In [67]:
names=driver2.find_elements(By.XPATH,"//td[@class='team']/div")

In [68]:
for name in names:
    print(name.text)

الأهلي
البطل
بيراميدز
الزمالك
المصري البورسعيدي
مودرن سبورت
سموحة
زد إف سي
سيراميكا كليوباترا
إنبي
طلائع الجيش
الاتحاد السكندري
الجونة
البنك الأهلي
الإسماعيلي
فاركو
بلدية المحلة
المقاولون العرب
الداخلية

In [ ]:
names.pop(1)

In [73]:
for name in names:
    print(name.text)

الأهلي
بيراميدز
الزمالك
المصري البورسعيدي
مودرن سبورت
سموحة
زد إف سي
سيراميكا كليوباترا
إنبي
طلائع الجيش
الاتحاد السكندري
الجونة
البنك الأهلي
الإسماعيلي
فاركو
بلدية المحلة
المقاولون العرب
الداخلية

In [74]:
position=driver2.find_elements(By.XPATH,"//td[@class='rank']")

In [75]:
GA=driver2.find_elements(By.XPATH,"//td[@class='goal-plus-minus']/span[@class='goal-minus']")

In [76]:
GF=driver2.find_elements(By.XPATH,"//td[@class='goal-plus-minus']/span[@class='goal-plus']")

In [77]:
won=driver2.find_elements(By.XPATH,"//td[@class='won']")

In [78]:
draw=driver2.find_elements(By.XPATH,"//td[@class='draw']")

In [79]:
lost=driver2.find_elements(By.XPATH,"//td[@class='lost']")

In [80]:
pts=driver2.find_elements(By.XPATH,"//td[@class='pts']")

In [ ]:
pts[2]

'56 (-3)'

In [88]:
import csv 
with open(f'D:\projects\egyptian-premier-league.csv','w',encoding='utf-8',newline='')as csvfile:
    csvwriter= csv.writer(csvfile,delimiter=',')
    csvwriter.writerow(["Position","Name",'Won','Drawn','Lost','GF','GA','Points'])
    for i in range(len(names)):
        csvwriter.writerow([position[i].text,names[i].text,won[i].text,draw[i].text,lost[i].text,GF[i].text,GA[i].text,pts[i].text])

In [90]:
import pandas as pd
import numpy as np

In [91]:
df=pd.read_csv('D:\projects\egyptian-premier-league.csv')

In [92]:
df.head()

   Position               Name  Won  Drawn  Lost  GF  GA   Points
0         1             الأهلي   27      4     3  75  28       85
1         2           بيراميدز   24      7     3  62  27       79
2         3            الزمالك   17      8     9  53  37  56 (-3)
3         4  المصري البورسعيدي   16      7    11  41  39       55
4         5        مودرن سبورت   14     12     8  40  28       54

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  18 non-null     int64
 1   Name      18 non-null     object
 2   Won       18 non-null     int64
 3   Drawn     18 non-null     int64
 4   Lost      18 non-null     int64
 5   GF        18 non-null     int64
 6   GA        18 non-null     int64
 7   Points    18 non-null     object
dtypes: int64(6), object(2)
memory usage: 1.3+ KB

In [100]:
df['Points'][2]='56'

C:\Users\moazn\AppData\Local\Temp\ipykernel_23304\517759179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Points'][2]='56'

In [101]:
df.head()

   Position               Name  Won  Drawn  Lost  GF  GA Points
0         1             الأهلي   27      4     3  75  28     85
1         2           بيراميدز   24      7     3  62  27     79
2         3            الزمالك   17      8     9  53  37     56
3         4  المصري البورسعيدي   16      7    11  41  39     55
4         5        مودرن سبورت   14     12     8  40  28     54

In [106]:
df['Points']=df['Points'].astype(int)

In [110]:
df.columns=df.columns.str.lower()

In [113]:
df["year"]=24

In [114]:
df

    position                name  won  drawn  lost  gf  ga  points  year
0          1              الأهلي   27      4     3  75  28      85    24
1          2            بيراميدز   24      7     3  62  27      79    24
2          3             الزمالك   17      8     9  53  37      56    24
3          4   المصري البورسعيدي   16      7    11  41  39      55    24
4          5         مودرن سبورت   14     12     8  40  28      54    24
5          6               سموحة   15      9    10  39  35      54    24
6          7            زد إف سي   13     12     9  48  35      51    24
7          8  سيراميكا كليوباترا   12     10    12  51  42      46    24
8          9                إنبي   11     12    11  38  37      45    24
9         10         طلائع الجيش   10     12    12  30  40      42    24
10        11    الاتحاد السكندري    9     14    11  30  42      41    24
11        12              الجونة    9     12    13  32  44      39    24
12        13        البنك الأهلي    9      9    16  46  45      36    24
13        14          الإسماعيلي    7     12    15  33  43      33    24
14        15               فاركو    6     15    13  32  43      33    24
15        16        بلدية المحلة    7      7    20  31  65      28    24
16        17     المقاولون العرب    5     11    18  32  57      26    24
17        18            الداخلية    3     11    20  17  43      20    24